
<nav class="navbar-default navbar-static-side" > 
  
  <div class="sidebar-collapse"> 
    
    <ul class="nav" id="side-menu">
      <li> 
      
        <div class="user-section">
          
          <div class="user-info">
            <div>{{globals.authData.FirstName}}  {{globals.authData.LastName}}</div>
            <div class="user-text-online"> 
              
            </div>
          </div>
        </div>
      </li>
     
      
  

    <li><a routerLink="/admin/register/list" style="cursor:pointer;"><i class="fa fa-users fa-fw"></i> Users</a> </li>
    
    <li > <a routerLink="/admin/userrole/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Userroles</a> </li> 
    <li > <a routerLink="/admin/setting/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Settings</a> </li>  
    <li > <a routerLink="/admin/userinvite/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Userinvites</a> </li> 
    <li > <a routerLink="/admin/userrequest/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Userrequests</a> </li>  
    <li > <a routerLink="/admin/emailtemplate/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Emailtemplates</a> </li> 
    <li > <a routerLink="/admin/company/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Companies</a> </li>
    <li > <a routerLink="/admin/country/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Countrys</a> </li>
    <li > <a routerLink="/admin/state/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> States</a> </li>  
    <li > <a routerLink="/admin/industry/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Industrys</a> </li> 
    <li > <a routerLink="/admin/department/list" style="cursor:pointer;"><i class="fa fa-building-o fa-fw"></i> Departments</a> </li> 
    
    </ul>
  
  </div>
 
</nav>
